### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

In [ ]:
#Comparando una misma columna en todas las tiendas

print(tienda['Categoría del Producto'].sort_values().unique())
print(tienda2['Categoría del Producto'].sort_values().unique())
print(tienda3['Categoría del Producto'].sort_values().unique())
print(tienda4['Categoría del Producto'].sort_values().unique())

#Conclusion: todas tienen la misma categoria

['Artículos para el hogar' 'Deportes y diversión' 'Electrodomésticos'
 'Electrónicos' 'Instrumentos musicales' 'Juguetes' 'Libros' 'Muebles']
['Artículos para el hogar' 'Deportes y diversión' 'Electrodomésticos'
 'Electrónicos' 'Instrumentos musicales' 'Juguetes' 'Libros' 'Muebles']
['Artículos para el hogar' 'Deportes y diversión' 'Electrodomésticos'
 'Electrónicos' 'Instrumentos musicales' 'Juguetes' 'Libros' 'Muebles']
['Artículos para el hogar' 'Deportes y diversión' 'Electrodomésticos'
 'Electrónicos' 'Instrumentos musicales' 'Juguetes' 'Libros' 'Muebles']

In [ ]:
#Analiando las tiendas
print(tienda.info())
print(tienda2.info())
print(tienda3.info())
print(tienda4.info())

#todos tiene el mismo tamanio y no tienen valores faltantes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2358 non-null   object
 1   Categoría del Producto  2358 non-null   object
 2   Precio                  2358 non-null   float64
 3   Costo de envío          2358 non-null   float64
 4   Fecha de Compra         2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Lugar de Compra         2358 non-null   object
 7   Calificación            2358 non-null   int64
 8   Método de pago          2358 non-null   object
 9   Cantidad de cuotas      2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB
None

In [ ]:
#Analizando los archivos
tienda4.isnull().sum()  # se comprueba que no tenemos valores nulos

Producto                  0
Categoría del Producto    0
Precio                    0
Costo de envío            0
Fecha de Compra           0
Vendedor                  0
Lugar de Compra           0
Calificación              0
Método de pago            0
Cantidad de cuotas        0
lat                       0
lon                       0
dtype: int64

#1. Análisis de facturación

In [32]:
tienda.head()
totalTienda1 = tienda['Precio'].sum()
totalTienda2 = tienda2['Precio'].sum()
totalTienda3 = tienda3['Precio'].sum()
totalTienda4 = tienda4['Precio'].sum()

print(f'Total de ventas tienda1 {totalTienda1:,.0f}')
print(f'Total de ventas tienda2 {totalTienda2:,.0f}')
print(f'Total de ventas tienda3 {totalTienda3:,.0f}')
print(f'Total de ventas tienda4 {totalTienda4:,.0f}')

#Conclusion
#la tienda que mas vende es la tienda 1 y la que menos la 4

Total de ventas tienda1 1,150,880,400
Total de ventas tienda2 1,116,343,500
Total de ventas tienda3 1,098,019,600
Total de ventas tienda4 1,038,375,700

In [72]:
#Comparativa en porcentajes de venta de las tiendas sobre tienda 1
print(f'Porcentaje de venta de tienda2 {round((totalTienda1/totalTienda2*100-100), 3)}% menos')
print(f'Porcentaje de venta de tienda3 {round((totalTienda1/totalTienda3*100-100), 3)}% menos')
print(f'Porcentaje de venta de tienda4 {round((totalTienda1/totalTienda4*100-100), 3)}% menos')
print(f'La diferencia en facturacion entre la tienda1 y la tienda4 es de {round((totalTienda1-totalTienda4)/1000000, 1)} millones')

Porcentaje de venta de tienda2 3.094% menos
Porcentaje de venta de tienda3 4.814% menos
Porcentaje de venta de tienda4 10.835% menos
La diferencia en facturacion entre la tienda1 y la tienda4 es de 112.5 millones

# 2. Ventas por categoría

# 3. Calificación promedio de la tienda

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda